body {
  margin:0;
  padding: 0;
}
h3{
  font-family: Lato;
}

p{
  font-family: Lato;
}
/*section headers*/
#header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-image: url(img/header.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.header_menu{
  margin:30px 100px 0 110px;
  display: flex;
  justify-content: space-between;
  height: auto;
}
.header_searchgroup{
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
}
.header_description{
  display: flex;
}
.header_search{
  display: flex;
}

h1{
  font-size: 3em;
  color: white;
  font-family: Lato;
  font-weight: 300;
  letter-spacing: 2px;
}
button{
  color: white;
  background:#FF4000;
  width:100px;
  height:30px;
}

/*section destinations*/
.destinations{
  display:flex;
 justify-content: center;
  align-items: center;
  background-color: #E6E6E6;
}
.destinations_collector{
  margin: 60px;
  width: 75%
}
.text_header {
  font-family: Lato;
  text-transform: uppercase;
  font-weight: 800;
}
.destinations_descriptor{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.descriptor_total{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 7px;
  width: 230px;
  background-color: white;
  /*width: 25%*/
}
.descriptor_total div:nth-of-type(1){flex-grow: 1.75;}
.descriptor_total div:nth-of-type(2){flex-grow:1;}
/*div with picture*/
.price_div{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 190px; width: 230px;
}
/*written price*/
.price_p{
  color:white;
  margin-right:10px;
  margin-bottom: 10px;
  font-family: Lato;
  font-size: 12px;
}
/*header of descripton*/
.header_d{
  margin-left:15px;
  font-family: Lato;
  text-transform:uppercase;
}
/*text of description*/
#header_p{
  font-size:12px;
  margin-left:15px;
}
